.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .15;
    overflow: hidden; // Stops accoupying whole width of page as we have specified 30px padding to body.

    &__content {
        height: 100%;
        width: 100%;
        object-fit: cover; // Video will fill the entire parent while still maintaining it's aspect ratio.
    }
}